{% block wucdbm_filter_date_range_widget -%}
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="row">
            <div class="input-group filter-date-range">
                {{ form_widget(form.placeholder, {attr: {class: 'placeholder' }}) }}
                <span class="input-group-btn">
                        <button class="btn default date-range-toggle" type="button"><i class="fa fa-calendar"></i></button>
                    </span>
                    <span class="input-group-btn">
                        <button class="btn default date-range-clear" type="button"><i class="fa fa-times"></i></button>
                    </span>
                {{ form_widget(form[form.vars.min_field_name]) }}
                {{ form_widget(form[form.vars.max_field_name]) }}
            </div>
        </div>
    </div>
{%- endblock wucdbm_filter_date_range_widget %}

{% block wucdbm_filter_placeholder_widget -%}
    {{ block('form_widget_simple') }}
{%- endblock wucdbm_filter_placeholder_widget %}

{% block form_end %}
{% spaceless %}
    {% if not render_rest is defined or render_rest %}
        {{ form_rest(form) }}
    {% endif %}
    <div class="clearfix"></div>
    </form>
{% endspaceless %}
{% endblock form_end %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="alert alert-danger">
                <ul>
                    {% for error in errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block button_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {% if icon is defined %}
            {% set icon = '<i class="fa fa-'~icon~'"></i>' %}
        {% else %}
            {% set icon = '' %}
        {% endif %}
        {% set attr = attr|merge({'class': ('btn ' ~ attr.class|default(''))|trim}) %}
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{icon|raw}} {{ label|trans({}, translation_domain) }}</button>
    {% endspaceless %}
{% endblock button_widget %}

{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% if not compound %}
    {% set label_attr = label_attr|merge({'for': id}) %}
{% endif %}
        {% if required %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
{% endif %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}
        {% if label is empty %}
    {% set label = name|humanize %}
{% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{% block widget_attributes %}
    {% spaceless %}
        id="{{ id }}" name="{{ full_name }}"{% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
        {% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}
    {% endspaceless %}
{% endblock widget_attributes %}

{% block form_start %}
    {% spaceless %}
        {% set method = method|upper %}
        {% if method in ["GET", "POST"] %}
    {% set form_method = method %}
{% else %}
    {% set form_method = "POST" %}
{% endif %}
        {#{% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-horizontal')|trim}) %}#}
        <form method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
        {% if form_method != method %}
    <input type="hidden" name="_method" value="{{ method }}" />
{% endif %}
    {% endspaceless %}
{% endblock form_start %}

{% block form_row %}
    {% spaceless %}
        {{ form_widget(form) }}
    {% endspaceless %}
{% endblock form_row %}

{% block form %}
    {% spaceless %}
        <div class="row">
            {{ form_start(form) }}
            <div class="col-lg-12">
                {{form_rest(form)}}
            </div>
            <div class="clearfix"></div>
            {{ form_end(form) }}
        </div>
    {% endspaceless %}
{% endblock form %}

{% block form_widget %}
    {% spaceless %}
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
            <div class="row">
                {% if compound %}
                    {{ block('form_widget_compound') }}
                {% else %}
                    {{ block('form_widget_simple') }}
                {% endif %}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_widget %}


{% block hidden_widget %}
    {% spaceless %}
        {% set type = type|default('hidden') %}
        {{ block('form_widget_simple') }}
    {% endspaceless %}
{% endblock hidden_widget %}

{% block choice_widget %}
    {% spaceless %}
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
            <div class="row">
                {% if expanded %}
                    {{ block('choice_widget_expanded') }}
                {% else %}
                    {{ block('choice_widget_collapsed') }}
                {% endif %}
            </div>
        </div>
    {% endspaceless %}
{% endblock choice_widget %}